.custom-bg-color{
background: rgb(29,29,145);
background: linear-gradient(164deg, rgba(29,29,145,1) 7%, rgba(98,20,148,1) 72%);
}
.card_text_color{
	color:#638888;
}
.orange{
	color: #f79d01;
    font-weight: bolder;
}
.text_Heading{
	color:#0c4645
}
.text_SubHeading{
	color:#0c4645;
    font-weight: bolder;
}
.main_width{
	width: 97%;
}